@model IEnumerable<Vanessa.Models.Publicacion>

@{
    ViewData["Title"] = "Publicaciones";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Crear Nueva Publicación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Lugar</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publicacion in Model)
        {
            <tr>
                <td>@publicacion.NombrePublicacion</td>
                <td>@publicacion.TipoPublicacion</td>
                <td>@publicacion.LugarPublicacion</td>
                <td>@publicacion.FechaPublicacion.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Details", new { id = publicacion.Id_Publicacion })" class="btn btn-info">Ver</a>
                    <a href="@Url.Action("Edit", new { id = publicacion.Id_Publicacion })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Delete", new { id = publicacion.Id_Publicacion })" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
