 @model Vanessa.Models.Proyecto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Css/tipografias.css">
    <link rel="stylesheet" href="~/Css/Gestion3.css">
    <title>Delete</title>
</head>
<body>

    <div class="titulo"><p>ELIMINAR</p></div>

    <a class="retroceder" href="@Url.Action("Create", "Proyectos")"></a>


    <div>
        <strong class="label1">NOMBRE</strong>
        <p class="input1"> @Model.Nombre</p>

        <strong class="label2">EQUIPO</strong>
        <p class="input2"> @Model.EquiposInvestigacion</p>

        <strong class="label3">FECHA DE INICIO</strong>
        <p class="input3"> @Model.FechaInicio.ToShortDateString()</p>

        <p>
        <strong class="label4">ARCHIVO PDF</strong>
        @if (!string.IsNullOrEmpty(Model.DocumentoProyecto))
        {
                <a class="input4" asp-action="Download" asp-route-id="@Model.Id">Descargar PDF</a>
        }
        else
        {
            <span>No disponible</span>
        }
        
            
        </p>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="guardar">ELIMINAR</button>
    
    </form>
</body>
</html>
